<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Loading</title>
</head>
<body>
    <div class="banter-loader">
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div><br><br><br><br><br><br>
        <p>Estamos processando sua dieta...</p>
    </div>
      
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('resultado', txt_file=arquivo) }}";
        }, 8000);
    </script>    
</body>
</html>
